<h1> {{title}} </h1>
<div>
    <ul *ngFor="let note of notes; let i = index;"> 

        <li>

            <div *ngIf="!note.flagNote.flagEdit">
                <input (click)="editNote(note)" type="submit" value={{note.nameNotes}}>
                <button (click)="deleteNote(i)">Delete note</button>
            </div> 
            <div *ngIf="note.flagNote.flagEdit">
                <input type="text" [(ngModel)] = "note.nameNotes" class="form-control" />
                <button (click)="updateNote(note)">Update N</button>
            </div>
            
            <ul >
                <li *ngFor="let colum of note.colum;let y = index;"> 
                    
                    <div>
                        <div *ngIf="colum.editC">
                            <input type="text" [(ngModel)] = "colum.name" class="form-control" />
                        </div>
                    </div>
                    
                    <div *ngIf="!colum.editC">{{colum.name}}</div>
        
                    <div>
                        <input type="file" (change)="onChange($event,i,y)">
                        <div *ngFor="let img of colum.img; let z = index;">
                            <img [src]="colum.img[z].Base64" width="200px" height="200px" alt="">
                        </div>
                    </div>

                    <button (click)="deleteColum(i,y)"> Delete</button>
        
                    <div *ngIf="colum.editC">
                        <button (click)="updateColum(colum)"> Update</button>
                    </div>
                    <div *ngIf="!colum.editC">
                        <button (click)="editColum(colum)"> Edit</button>
                    </div>
        
                </li>
                <br>
            </ul>
        </li>

        <div *ngIf="!note.flagNote.flagAdd">
            <button (click)="note.flagNote.flagAdd = true">Add New Colum</button> 
        </div>
        <div *ngIf="note.flagNote.flagAdd">
            <input type = "text" placeholder="Enter colum" #nColum />
            <button (click)="addColumn(i,nColum.value)">Add</button> 
            <button (click)="note.flagNote.flagAdd = false">Can't</button>
        </div>
       
    
    </ul>
</div>

<div class="add-note">
    <div *ngIf="!flag.flagNote">
        <button (click)="flag.flagNote = true">Add New Note</button>
    </div>
    <div *ngIf="flag.flagNote">
        <input type = "text" placeholder="Enter Note" #note />
        <button class="bt-btadd" (click)="addNote(note.value)">Add New Note</button>
        <button class="bt-btdont" (click)="flag.flagNote = false">Can't</button>
    </div>
</div>



