<h1> {{title}} </h1>
<input type = "text" placeholder="Enter Note" #note />
<br>
<br>
<button (click)="addNote(note.value)">Add New Note</button>

<br>
<br>

<div>
    <ul *ngFor="let note of notes; let i = index;"> 
        <li>
    
            <div *ngIf="note.editN">
                <input type="text" [(ngModel)] = "note.nameNotes" class="form-control" />
            </div>
            <div *ngIf="!note.editN">{{"Заметка " + note.nameNotes}} <br> 
                
            </div>
    
        <ul >
            <li *ngFor="let colum of note.colum;let y = index;"> 
                
                <div *ngIf="colum.editC">
                    <input type="text" [(ngModel)] = "colum.name" class="form-control" />
                </div>
                <div *ngIf="!colum.editC">{{colum.name}}</div>
    
                <div>
                    <input type="file" (change)="onChange($event)">
                    <img [src]="myimage" width="200px" height="200px" alt="">
                </div>

                <button (click)="deleteColum(i,y)"> Delete</button>
    
                <div *ngIf="colum.editC">
                    <button (click)="colum.editC = false"> Update</button>
                </div>
                <div *ngIf="!colum.editC">
                    <button (click)="editColum(colum)"> Edit</button>
                </div>
    
            </li>
            <br>
            <input type = "text" placeholder="Enter colum" #nColum />
            <button (click)="addColumn(i,nColum.value)">Add New Colum</button> 
        </ul>
        </li>
    
    <div *ngIf="note.editN">
        <button (click)="note.editN = false"> Update</button>
    </div>
    <div *ngIf="!note.editN">
        <button (click)="editNote(note)"> Edit</button>
    </div>
    
    <button (click)="deleteNote(i)">Delete note</button>
    </ul>
</div>
